.sidebar {
  width: 200px;
  height: 100vh;
  background: #fff;
  border-right: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.logo {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f0f0f0;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #1890ff;
}

.menu {
  flex: 1;
  border-right: none !important;
}
